/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/*
 * Definimos los helpers y sus variantes
 */

 .listNone
 	list-style-type none
 	margin 0
 	padding 0

 .figureSimple
 	margin 0
 	padding 0

 .imgResponsive
 	height auto
 	max-width 100%
 	width 100%


 // Colores de fondo

.bg-blue-dark
	background blueDark
.bg-blue-light
	background blueLight
.bg-red-primary
	background blueLight
.bg-grey-light
	background greyLight
.bg-grey-dark
	background greyDark

.bg-red
	background redPrimary

// colores texto


