/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*
 * Definimos los variables y sus variantes
 */

 // Colores

blueDark = #001229
blueLight = #004294
redPrimary = #F81D22
greyLight = #AEADB3
greyDark = #C2C3C9
colorFont = #ffffff
colorLink = colorFont
