/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*
 * Definimos los fuentes y sus variantes
 */

 @font-face{
	font-family: 'icomoon'
	src:url('fonts/icomoon/icomoon.eot?-r6yzvl')
	src:url('fonts/icomoon/icomoon.eot?#iefix-r6yzvl') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.ttf?-r6yzvl') format('truetype'),
		url('fonts/icomoon/icomoon.woff?-r6yzvl') format('woff'),
		url('fonts/icomoon/icomoon.svg?-r6yzvl#icomoon') format('svg')
	font-weight normal
	font-style normal
	}

@font-face {
    font-family: 'gnuolaneregular';
    src: url('fonts/gnuolane/gnuolane_rg-webfont.eot');
    src: url('fonts/gnuolane/gnuolane_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gnuolane/gnuolane_rg-webfont.woff2') format('woff2'),
         url('fonts/gnuolane/gnuolane_rg-webfont.woff') format('woff'),
         url('fonts/gnuolane/gnuolane_rg-webfont.ttf') format('truetype'),
         url('fonts/gnuolane/gnuolane_rg-webfont.svg#gnuolaneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


[class^="icon-"],
[class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-image
	&:before
		content: "\e90d"

.icon-video-camera
	&:before
		content: "\e914"

.icon-menu
	&:before
		content: "\e9bd"

.icon-loop2
	&:before
		content: "\ea2e"

.icon-buscador
	&:before
		content: "\e600"

.icon-carrito
	&:before
		content: "\e601"

.icon-facebook
	&:before
		content: "\e602"

.icon-google_compartir
	&:before
		content: "\e603"

.icon-home
	&:before
		content: "\e604"

.icon-icon_email
	&:before
		content: "\e605"

.icon-twitter
	&:before
		content: "\e606"
