/**
 *  Theme Name: Kawacentro
	Theme URI: http://kawacentro.com.co/
	Author: @yavallejo - Tecnotaxia
	Author URI: http://tecnotaxia.com/
	Description: Tema personalizado para kawacentro.com.co Tuluá
	Version: 1.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

 */

/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .styl) que se van
 * a compilar en el CSS definitivo: public_html/style.css.
 */


// Setting


@import ("nib")
@import ("libs/variables.styl")
@import ("libs/mixins.styl")
@import ("libs/helpers.styl")


// Librerías externas

@import ("vendor/normalize.styl")

// Base

@import ("base/contenido.styl")

// Elementos

@import ("elementos/fuentes.styl")
@import ("elementos/link.styl")
@import ("elementos/formularios.styl")
@import ("elementos/botones.styl")
@import ("elementos/paginacion.styl")
@import ("elementos/tablas.styl")
@import ("elementos/texturas.styl")

// Layout del site

@import ("layout/layout.styl")
@import ("layout/navegacion.styl")








