/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/*
 * Definimos los navegación y sus variantes
 */

 .menu-top
 	li
 		a
 			text-decoration none
 			color colorFont